* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container {
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    background-color: #1f2937;
}

.header {
    /* outline: 3px solid blue; */
    display: flex;
    justify-content: space-between;
    width: 1025px;
    padding: 20px 0;
    font-weight: bold;
}

.header, ul {
    display: flex;
    gap: 25px;
}

li, .header-links, a {
    /* color: #fff; */
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

li.header-links {
    /* outline: 3px solid red; */
    list-style-type: none;
}

.logo-text {
    font-size: 24px;
    color: #f9faf8;
}

.content-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 135px 0;
}

.content {
    display: flex;
    width: 1025px;
    justify-content: space-between;
    /* border: 3px solid red; */
}

.text-container {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* gap: 15px; */
    width:450px;
}

.website-is-awesome {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.subtext {
    color: #e5e7eb;
}

.signup {
    background-color: #3882f6;
    padding: 10px 35px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    border: none;
}

.website-is-awesome,
.subtext,
.signup {
    margin-bottom: 15px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid yellow; */
    height: 240px;
    width: 525px;
    background-color: rgb(93, 94, 98)
}

.image-placeholder {
    /* border: 3px solid green; */
    color: #e5e7eb;
}

.information-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 125px;
}

.random-information,
.image-text-container {
    width: 1025px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center
}

.image-text-container {
    gap: 55px;
}

.random-information {
    padding: 55px;
    font-size: 36px;
    font-weight: 800px;
    color: #1f2937;
}

.image-text {
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image {
    height: 170px;
    width: 170px;
    border: 4px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 5px;
}

.text {
    /* outline: 1px solid black; */
    width: 170px;
    color: #3e3f41;
    font-size: 18px;
}

.quote-container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote {
    display: flex;
    flex-direction: column;
    padding: 135px 330px 105px 330px;
    gap: 5px;
}

.quote-text {
    font-size: 36px;
}

.author {
    display: flex;
    justify-content: flex-end;
    font-weight: 900;
    font-size: 20px;
}

.call-to-action-container {
    display: flex;
    justify-content: center;
}

.blue-container button {
    border: 2px solid white;
}

.blue-container {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    padding: 55px 120px;
    gap: 160px;
    margin: 100px 193px;
    border-radius: 12px;
}

.call-to-text {
    font-size: 24px;
}

.signup-for-text {
    font-size: 18px;
}

.call-to-text,
.signup-for-text {
    color: white;
}

.footer {
    background-color: #1f2937;
    /* outline: 3px solid red; */
    display: flex;
    justify-content: center;
}

.copyright {
    padding: 40px;
    font-size: 18px;
    color: white;
}